<div class="container">
  <div fxLayout="row wrap" fxLayoutGap="50px grid">
    <div *ngFor="let item of items">
      <mat-card class="item-card">
        <img
          mat-card-image
          src="assets/images/{{ item.image_url }}"
          width="96px"
          height="96px"
        />
        <mat-card-content>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle class="text-center">{{
            item.price | currency : "EUR"
          }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
